.contatiner {
  width: 100%;
}
.container-table-row {
  height: 25px;
  
}
.container-qustionContent {
  width: 43%;
}

.container-qustionId {
  width: 8%;
}

.container-qustionName {
  width: 18%;
}
